# Binaries
/bin/
/dist/
/wtx
/fogapp
*.exe

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage.txt
coverage.html

# Tmp
tmp/
temp/

# Wails desktop build artifacts
/cmd/fogapp/build/*
!/cmd/fogapp/build/appicon.png
/cmd/fogapp/frontend/node_modules/
/cmd/fogapp/frontend/dist/
/cmd/fogapp/frontend/package.json.md5
/cmd/fogapp/frontend/wailsjs/
